/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.col-6 {
  width: 48%;
  padding: 0 15px;
}
header {
  background-color: #7030cc;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
ul.nav-list {
  display: flex;
}
ul.nav-list li {
  margin-right: 25px;
}
ul.nav-list li a {
  color: #fff;
  font-size: 16px;
}
a.free-trial {
  background-color: #42b6ec;
  border: 1px solid #42b6ec;
  padding: 2px 6px;
}
nav {
  padding: 25px 0;
}
h1.banner-heading {
  color: #fff;
  font-size: 52px;
  line-height: 62px;
}
p.banner-description {
  color: #cad5e2;
  font-size: 14px;
  margin-top: 25px;
}
.banner {
  padding: 50px 0;
}
.inner-box {
  display: flex;
}
h1.it\'s-heading-text {
  font-size: 32px;
  font-weight: bold;
  line-height: 42px;
  margin-bottom: 25px;
}
.description {
  margin-left: 15px;
}
h3.box-heading {
  font-size: 18px;
}
p.box-description {
  font-size: 14px;
  margin: 10px 0;
}
.box {
  margin: 25px 0;
}
.text-danger {
  color: #e21717;
  font-size: 18px;
}
.text-success {
  color: #1faa59;
  font-size: 18px;
}
.text-secondary {
  color: #383cc1;
  font-size: 18px;
}
section#it\'s-helpfull {
  padding: 50px 0;
}
h2.content-heading {
  font-size: 18px;
}
p.content-description {
  font-size: 12px;
}
.card {
  margin: 20px;
  border-radius: 15px;
  display: grid;
  box-shadow: 3px 3px 6px -2px #0000003d;
  place-items: center;
}
.thumb {
  text-align: center;
  background-color: #f6eaea;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin: 25px 0;
  justify-content: center;
}
.thumb img {
  max-width: 50px;
}
.content {
  text-align: center;
  padding: 20px;
}
.card:hover .content {
  background-color: #9638d9;
  border-radius: 15px;
}
.card:hover .content-heading {
  color: #fff;
}
.card:hover p.content-description {
  color: #fff;
}
.row.text-center {
  justify-content: center;
  text-align: center;
}
h1.we-provide-heading {
  font-size: 32px;
  margin-bottom: 20px;
}
